body {
    margin: 0 .5rem;
}

/* Font Family */

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2, h3, a, button {
    font-family: 'Open Sans', sans-serif;
}

p, .skills p, .side-drawer p {
    font-family: 'Roboto', sans-serif;
}

/* Font Weight */

h1, h3, button {
    font-weight: 600;
}

h2, a, .skills p, .side-drawer p {
    font-weight: 400;
}

p {
    font-weight: 300;
}

/* Font Size */

h1 {
    font-size: 28px;
}

h2, h3 {
    font-size: 22px;
}

p, a, button, .side-drawer p {
    font-size: 18px;
}

.skills p {
    font-size: 16px;
}

/* Margin */

h1, h2, h3 {
    margin: 0;
}

section {
    margin-bottom: 2rem;
}

/* Colors */

h1, h2, h3, a, button, .side-drawer p {
    color: #03414d;
}

p, .skills p, .burger-menu span {
    color: #000;
}

/* Links */

a {
    text-decoration: none;
}

/* Illustrations */

figcaption {
    text-align: left;
}

figure {
    margin: 0;
    text-align: center;
}

img {
    width: 322px;
    height: auto;
}

/* Buttons */

button {
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #D7F4F0;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #c3efe9;
}

button:active {
    transform: scale(0.99);
}

/* Burger Menu */

.burger-menu button {
    padding: 1rem 0;
    background: transparent;
    text-align: left;
}

.burger-menu button:hover,
.burger-menu button:focus {
    background: transparent;
}

.burger-menu span {
    display: block;
    width: 36px;
    margin-bottom: 7px;
    border-bottom: solid #03414d 3px;
}

/* Projects */

/* Skills */

.skills-tile {
    float: left;
    width: 25%;
    text-align: center;
}

.closing-float {
    clear: both;
}

.skills p {
    margin: .5rem 0 1rem 0;
}

/* Icons */

.skills i {
    font-size: 47px;
}

.photoshop {
    width: 47px;
    height: auto;
}

.html {
    color: #e34c26;
}

.css {
    color: #264de4;
}

.js {
    color: #F0DB4F;
}

.bootstrap {
    color: #563d7c;
}

.github {
    color: #211F1F;
}

.figma {
    color: #323330;
}

/* Contact */

.contact {
    text-align: center;
}

.contact a {
    display: block;
}

.contact button {
    text-decoration: none;
    background: #D7F4F0;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.contact button:hover,
.contact button:focus {
    background: #c3efe9;
}

/* Desktop Version */

a:hover,
.side-drawer p:hover,
button:hover {
    color: #022c34;
}



