* {
    box-sizing: border-box;
}

.desktop-wrapper {
    display: none;
}

body {
    margin: 0 1rem;
}

/* Font Family */

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2, h3, a, button {
    font-family: 'Open Sans', sans-serif;
}

p, .skills figcaption, .side-drawer, .subpage-section a {
    font-family: 'Roboto', sans-serif;
}

/* Font Weight */

h1, h3, .button a {
    font-weight: 600;
}

h2, a, .skills figcaption, .side-drawer {
    font-weight: 400;
}

p {
    font-weight: 300;
}

/* Font Size */

h1 {
    font-size: 1.75rem;
}

h2, h3 {
    font-size: 1.25rem;
}

p, a, button, .side-drawer {
    font-size: 1.125rem;
}

.skills figcaption {
    font-size: .8rem;
}

/* Margin */

h1, h2, h3 {
    margin: 0;
}

.contact a {
    margin-bottom: .3rem;
}

h1 {
    margin-bottom: .5rem;
}

h2, h3 {
    margin-bottom: 1.5rem;
}

header, section {
    margin-bottom: 2rem;
}

section:last-child, footer {
    margin-bottom: 1rem;
}

/* Colors */

h1, h2, h3, a, button, .side-drawer {
    color: #03414d;
}

p, .skills figcaption, .burger-menu span {
    color: #000;
}

/* Links */

a {
    text-decoration: none;
}

/* Illustrations */

figure {
    margin: 0;
    text-align: center;
}

img.front-page-img, .subpage-section img {
    width: 20rem;
    height: auto;
}

/* Buttons */

button {
    border: none;
    margin: 1rem 0 0 0;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:active {
    transform: scale(0.99);
}

/* Nav Menu */

nav {
    position: fixed;
    top: 0;
    left: .5rem;
    z-index: 1;
    width: 100%;
    background: #fff;
}

.body-wrapper {
    position: relative;
    top: 78px;
}

.burger-menu button {
    padding: 1rem 0;
    background: transparent;
    text-align: left;
}

.burger-menu button:hover,
.burger-menu button:focus {
    background: transparent;
}

.burger-menu span {
    display: block;
    width: 36px;
    margin-bottom: 7px;
    border-bottom: solid #03414d 3px;
}

.projects-desktop-nav {
    display: none;
}

/* Skills */

.skills-tile {
    float: left;
    width: 25%;
    text-align: center;
}

.closing-float {
    clear: both;
}

.skills figcaption {
    margin: .5rem 0 1rem 0;
}

/* Icons */

.skills i {
    font-size: 47px;
}

.photoshop {
    width: 47px;
    height: auto;
}

.html {
    color: #e34c26;
}

.css {
    color: #264de4;
}

.js {
    color: #F0DB4F;
}

.bootstrap {
    color: #563d7c;
}

.github {
    color: #211F1F;
}

.figma {
    color: #323330;
}

/* Contact */

.contact {
    text-align: center;
}

.anchor-tags {
    margin-bottom: 1.8rem;
}

.contact a {
    display: block;
}

.contact .icon {
    padding-left: .5rem;
}

.contact .button {
    text-decoration: none;
    padding: 1rem 0;
    margin: 0;
    background: #D7F4F0;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.contact .button:hover,
.contact .button:focus {
    background: #c3efe9;
}

/* Side Drawer */

.side-drawer {
    width: 80%;
    background: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 200;
    transition: all 500ms linear;
}

.backdrop {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.side-drawer.active,
.backdrop.active {
    left: 0;
}

.side-drawer ul {
    margin-right: 3rem;
    margin-bottom: 3rem;
    padding-left: 1.25rem;
}

.side-drawer li {
    border-bottom: 1px solid #E5E5E5;
    list-style: none;
    padding-bottom: .7rem;
    padding-top: 1rem;
    margin-left: 2rem;
}

.side-drawer .icon {
    padding-right: 1.1rem;
}

.side-drawer a {
    margin-left: -2rem;
}

.side-drawer .cross-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
}

/* Projects */

.scroll-up-button {
    display: none;
}

.projects figcaption {
    position: absolute;
    text-align: left;
    line-height: 1;
}

.projects img {
    margin-top: .5rem;
}

.subpage-section .desktop-title {
    display: none;
}
.subpage-section {
    margin-bottom: 3.5rem;
}

.subpage-section figure {
    text-align: center;
}

.subpage-section figure,
.subpage-section p {
    margin-bottom: 2rem;
}

.subpage-section a {
    font-weight: 500;
    background: #F3FFFE;
}

.projects-action-buttons {
    display: flex;
}

.projects-action-buttons .code,
.projects-action-buttons .demo {
    flex-basis: 50%;
    text-align: center;
    padding: .5rem 0;
}

.projects-action-buttons .code {
    margin-right: 4px;
}

.projects-action-buttons .demo {
    margin-left: 4px;
}

.subnav {
    display: none;
}

/* Desktop Version */

@media only screen and (min-width: 576px) {
    .burger-menu {
        padding-left: 2rem;
    }
    .body-wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .about figure,
    .about p {
        /* float: right; */
        width: 50%;
    }
    .about p {
        padding-right: 1rem;
    }
    main {
        width: 85%;
        margin: 0 auto;
    }
    img.front-page-img, .subpage-section img {
        width: 14rem;
        height: auto;
    }
    figure {
        text-align: left;
    }
    .skills-tile {
        width: 15%;
    }
    .anchor-tags {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contact .button {
        width: 70%;
        margin: 0 auto;
    }
    .desktop-icon {
        display: none;
    }
    section:last-child {
        margin-bottom: 2rem;
    }
    /* Projects */
    main.projects-main {
        width: 100%;
    }
    .subpage-section figure,
    .subpage-section p {
        float: left;
        width: 50%;
        text-align: left;
    }
    .subpage-section.tablet-right figure {
        float: right;
        text-align: right;
    }
    .subpage-section.tablet-right figcaption {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .rwd-mockup,
    .burger-menu {
        display: none;
    }
    .index-main {
        display: flex;
        flex-direction: row-reverse;
    }
    /* .desktop-wrapper {
        display: block;
        margin: 3rem 2rem;
    }  */
    a {
        font-weight: 600;
    }
    a:hover {
        color: #046173;
    }
    button:hover,
    .button a:hover {
        color: #022c34;
    }
    img.front-page-img, .subpage-section img {
        width: 20rem;
        height: auto;
    }
    figure {
        text-align: center;
    }
    .about p {
        padding-right: 0;
    }
    .section-wrapper {
        /* float: left; */
        width: 50%;
    } 
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills-tile {
        width: 20%;
    }
    .skills figcaption {
        font-weight: 500;
    }
    .contact {
        width: 100%;
    }
    .anchor-tags,
    .contact {
        display: flex;
    }
    .anchor-tags {
        justify-content: space-between;
    }
    .anchor-tags,
    .button-wrapper {
        flex-basis: 50%;
    }
    .contact .button {
        width: fit-content;
        margin: 0 auto;
        padding: 1rem 2rem;
        position: relative;
        top: -50%;
    }
    .contact a {
        z-index: 1;
    }
    section:last-child {
        margin-bottom: 1.5rem;
    }
    /* Projects */
    .scroll-up-button {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .scroll-up-button:hover {
        transform: scale(1.1);
    }
    .scroll-up-button .icon {
        font-size: 3rem;
    }
    .scroll-up-button p {
        margin: .5rem 0 0 0;
        font-weight: 600;
        
    }
    .onscroll-active {
        overflow: inherit;
        visibility: inherit;
        height: auto;
        width: auto;
    }
    .projects-desktop-nav .icon {
        padding-right: 1.1rem;
    }
    .projects-desktop-nav ul {
        padding-left: 0;
    }
    .projects-desktop-nav li {
        list-style: none;
    }
    .projects-nav {
        position: relative;
    }
    .projects-body-wrapper {
        top: 0;
    }
    .contact.subpage-contact {
        padding-bottom: 3rem;
    }
    .contact.subpage-contact .button {
        top: 3rem;
    }
    .contact.subpage-contact .anchor-tags {
        padding-top: 4rem;
    }
    .projects-desktop-nav {
        display: block;
    }
    .subpage-section .mobile-title {
        display: none;
    }
    .subpage-section .desktop-title {
        display: block;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 992px) {
    .desktop-wrapper {
        margin: 0 0 0 2rem;
    }
    main.projects-main {
        width: 90%;
    }
    .section-wrapper {
        position: relative;
        top: 3rem;
    }
    .projects-wrapper {
        padding-left: 0;
    }
    .projects figure {
        transition: transform 300ms ease;
    }
    .projects figure:hover {
        transform: scale(1.10);
    }
    .anchor-tags {
        justify-content: space-around;
    }
    .desktop-icon {
        display: inline-block;
    }
    section:last-child {
        margin-bottom: 5rem;
    }
    /* Projects */
    .subpage-about.projects-page {
        margin-bottom: 5rem;
    }
    .contact.subpage-contact .button {
        margin-right: 0;
    }
    .projects-action-buttons {
        width: 50%;
        position: relative;
        left: 50%;
    }
    .subpage-section {
        margin-bottom: 4.5rem;
    }
    .subpage-section.tablet-right .projects-action-buttons {
        left: 0;
    }
    .subpage-section figure,
    .subpage-section p {
        margin-bottom: 0;
    }
    .subnav {
        display: block;
    }
    .subnav-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 3rem;
        list-style: none;
    }
    .subnav h2 {
        font-weight: 600;
    }
    .subnav img {
        width: 15rem;
        height: auto;
    }
    .subnav h2,
    .subnav img {
        margin-bottom: .8rem;
    }
    .subnav-links {
        text-align: left;
    }
    .subnav-list-item a {
        display: block;
        font-size: 1rem;
        padding-left: 20%;
        line-height: 1.4;
    }
    .subnav-list-item a:hover {
        transform: scale(1.015);
    }
}

@media only screen and (min-width: 1200px) {
    main.projects-main {
        width: 70%;
    }
    h1 {
        font-size: 3rem;
    }
    h2, h3 {
        font-size: 1.5rem;
    }
    .desktop-wrapper {
        margin: 0 0 0 7rem;
    }
    .section-wrapper {
        padding-right: 2rem;
    }
    .skills-tile {
        width: 12.5%;
    }
    section:last-child {
        margin-bottom: 7rem;
    }
    /* Projects */
    .subnav-list-item a {
        padding-left: 24%;
    }
}

@media only screen and (min-width: 1400px) {
    /* Projects */
    .subnav-list-item a {
        padding-left: 28%;
    }
}







